# ======================================
# CONFIGURAÃ‡Ã•ES DO FRONTEND
# ======================================

# URL da API do backend
VITE_API_URL=http://localhost:8000

# Google Client ID
VITE_GOOGLE_CLIENT_ID=781459179681-tfulmoufdcmukhm8io26hd532pbl2h0r.apps.googleusercontent.com
